{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=content-width, initial.scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>
        {% block page__title%}
            MY SITE
        {% endblock page__title%}
    </title>
</head>
<body>
    <div class = "navbar">
        <div class = "navlogo">
            <img src="{% static 'book.jpg' %}" alt="">
        </div>
        <div class = "navlink">
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <li><a href="{% url 'account:login' %}">LOGIN</a></li>
                <li><a href="{% url 'account:register' %}">REGISTER</a></li>
                <li><a href="{% url 'account:logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </div>
    </div>
    <div class = "container">
    {% block body %}
      
    {% endblock body %}
    </div> 
</body>
</html>